.container-jalon, .container-chart {
    display: flex;
    justify-content: space-around; 
    align-items: flex-start;

}
/*.Doughnut{
    display:flex;
    justify-content: space-evenly;
    margin-bottom: 20px;
    margin-top: 20px;
}*/
.box{
    margin:1%;
    width: 100%;
}
.color1 {
    background-color:#6D6875
}
.color2 {
    background-color:#B5838D
}
.color3 {
    background-color:#E5989B
}
.color4 {
    background-color:#FFB4A2
}
.color5 {
    background-color:#FFCDB2
}
.excel{
    text-align: left;
  }  


