a{
	text-decoration: none !important;
}
.quote{
	display: inline-block;
	transform: translate(0%, 20%);
	font-size: xxx-large;
}
.Alert{
	/*border: 10px solid #f00;
    border-radius: 100px;
    overflow: hidden;
    padding: 15px; */
/*
    width: 100px;
    height: 100px;*/
    padding: 2%;
    margin: 2%;

}
.Alert_titre{
	font-size: x-large;
}
.Alert_desc{
	font-size: x-large;
}

.MuiCardMedia-img {
    object-fit: contain !important;
}
