.flexbox{
	display: flex;
	justify-content: space-evenly;
}
.div_elmt_wrapper{
	padding-top: 20px;
	padding-bottom: 10px;
}
.div_elmt_chart{
	width: 100%;
}
.div_elmt{
	border: 1px solid #cf8961;
	border-radius: 10px;
	min-width: 270px;
	/*width: 50%;*/
}
.btn_trun{
	margin-top: 5% !important;
}
.div_elmt_p{
	font-size: 25px;
	transform: translate(14px, -25px);
    position: absolute;
    background-color: #fafafa;
    padding: 5px;
    color:#cf8961;
}
.div_admin_alert{
	display: flex;
	justify-content: space-around;
	width: 80%;
	margin-right: auto;
	margin-left: auto;
	border:1px solid black;
	padding:1%;
	margin-top:3%;
}
.div_admin_alert-div{
	min-width: 20px;
	min-height: 20px;
	border:1px solid black;
	flex-shrink: 3; /* default 1 */
}
