a{
	text-decoration: none !important;
}
.quote{
	display: inline-block;
	transform: translate(0%, 20%);
	font-size: xxx-large;
}
.circleAlert{
	border: 10px solid #f00;
    border-radius: 100px;
    width: 120px;
    height: 120px;
    overflow: hidden;
    /*line-height: 20px;*/padding: 15px; 
}
.circleAlert_titre{
	font-size: xx-large;
}
.circleAlert_desc{
	font-size: x-large;
}
